.scrollTop{
    position: fixed;
    bottom: -5rem;
    right: 2rem;
    background: $color-primary;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: .6s ease-in-out .15s;
    z-index: 20;
    opacity: 0;
    display: none;
    cursor: pointer;    
    &:hover,&:link,&:active,&:focus{
        text-decoration: none;
        color: $color-white;
        outline: none;
        border: none;
    }
        &-box{
            font-family: fantasy;
            font-weight: 100;
            position: relative;
            text-decoration: none;
            text-align: center;
            outline: none;
            border: none;
            &:hover,&:link,&:active,&:focus{
                text-decoration: none;
                color: $color-white;
                outline: none;
                border: none;
            }
        
    }
}