$color-primary : #ff7e00;
$color-primary-light : #d8812f;
$color-primary-dark: #a85100;
$color-background:#232f3e;
$color-secondary:  #c89c21;
$color-secondary-light:#EECDA3;
$color-secondary-dark:#936c00;
$color-blue-light:#9499f7;
$color-blue:#1538ea;
$color-blue-dark:#000ad8;
$color-green-light:#a0f280;
$color-green:#5fd631;
$color-green-dark:#2a9600;
$color-light: #f5f6f7;
$color-white: #fff;
$color-black: #222;
$color-divider: #95989b;
$color-red-light:#e08d8d;
$color-red:#d62828;
$color-red-dark:#c60000;
$color-purple-light:#dd5ad0;
$color-purple:#d82fc7;
$color-purple-dark:#c100ae;
$color-accent: #EF629F;
$color-grey: #232f3e;
$color-textdark: #242424;
$color-black: #000;
$color-medium-dark: lighten($color-black, 25%);
$grid-horizontal: 2.5rem;
$grid-vertical : 1rem;
$default-font-size : 1.5rem;